@import "./colors";

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

// These are nice to have, but can cause trouble in the H5P editor
// *:before, *:after {
//   box-sizing: inherit;
// }

.h5p-boilerplate-snordian {
  background-color: $color-background;
  color: $color-text;
  width: 100%;

  .h5p-boilerplate-snordian-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
